<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
	{% load staticfiles %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>365sec</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/result.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/main.e74719ea.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/host/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
		<script src="{% static 'js/map/echarts.min.js' %}"></script>
		<script src="{% static 'js/map/world.js' %}"></script>
		<script src="{% static 'js/map/china.js' %}"></script>
		<style>
			canvas {
				display: inline-block;
			}
			.header1 {
				    height: 100px;
				    line-height: 70px;
				    font-size: 14px;
				    background-color: #fff
			}
			.filter {
				height: 30px;
                padding: 8px 10px 4px;
			    background: #ecf0f1;
			    border-bottom: 1px solid;
			    border-bottom-color: #ccc;
			}
			.filter .content{
				height: 30px;
				margin: 0 auto;
				width: 1000px;
			}
			.content .add_filter {
				float: left;
			    margin-right: 15px;
			    font-size: 14px;
			    padding: 0 3px 2px 3px;
			    cursor: pointer;
			    height: 26px;
			    line-height: 26px;
			}
			.content .filter_list_content {
			    position: relative;
			    display: inline-block;
			    text-align: center;
			    font-size: 12px;
			    background-color: #8d9da2;
			    color: #fff;
			    margin-right: 4px;
			    margin-bottom: 4px;
			    max-width: 100%;
			    padding: 4px 8px;
			    border-radius: 12px;
			}
			.filter .filter-link a {
			    color: #108ee9;
			   }
			  .filter_editor {
				    position: absolute;
				    left: 100px;
				    width: 600px;
				    z-index: 10;
				}
			.filter_editor .filter_detail {
				    line-height: 1.5;
				    background-color: #fff;
				    border: 1px solid #6eadc1;
				    border-radius: 4px;
				    box-shadow: 0 5px 22px rgba(0,0,0,.25);
				    z-index: 1001;
				}
			.kuiModalHeader {
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-pack: justify;
			    -webkit-justify-content: space-between;
			    -ms-flex-pack: justify;
			    justify-content: space-between;
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    padding: 10px;
			    border-bottom: 2px solid #e4e4e4;
			}
			.kuiModalHeader__title {
			    font-size: 18px;
			}
			.kuiModalHeaderCloseButton {
			    display: inline-block;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    cursor: pointer;
			    padding: 2px 5px;
			    border: 1px solid transparent;
			    color: #43668a;
			    background-color: transparent;
			    line-height: 1;
			    font-size: 18px;
			}
			.kuiIcon {
			    display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
			.kuiFieldGroup {
				    display: -webkit-box;
				    display: -webkit-flex;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-align: center;
				    -webkit-align-items: center;
				    -ms-flex-align: center;
				    align-items: center;
				}
			.kuiVerticalRhythmSmall+.kuiVerticalRhythmSmall {
				    margin-top: 5px;
				}
			.kuiFieldGroupSection+.kuiFieldGroupSection {
			    margin-left: 10px;
			}
			
			.filterEditor__wideField {
			    min-width: 0;
			}
			.kuiFieldGroupSection--wide {
			    -webkit-box-flex: 1;
			    -webkit-flex: 1 1 auto;
			    -ms-flex: 1 1 auto;
			    flex: 1 1 auto;
			}
			.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
			    background-color: transparent!important;
			    border: none;
			    outline: none;
			    height: 1.666666em;
			    margin-bottom: 3px;
			}
			.kuiModalFooter {
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-pack: end;
			    -webkit-justify-content: flex-end;
			    -ms-flex-pack: end;
			    justify-content: flex-end;
			    padding: 0 10px 10px;
			}
			.kuiBar, .kuiBarSection {
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			}
			.kuiBar {
			    -webkit-box-pack: justify;
			    -webkit-justify-content: space-between;
			    -ms-flex-pack: justify;
			    justify-content: space-between;
			    min-height: 30px;
			}
			.kuiButton--basic {
			    color: #5a5a5a;
			    background-color: #f2f2f2;
			}
			.kuiButton {
			    display: inline-block;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    cursor: pointer;
			    padding: 4px 12px 5px;
			    font-size: 14px;
			    font-weight: 400;
			    line-height: 1.5;
			    height: 30px;
			    text-decoration: none;
			    border: none;
			    border-radius: 4px;
			}
			.index_select {
				border: 1px solid #bfbfbf;
			    padding: 0 15px;
			    outline: none;
			    height: 40px;
			    width: 12%;
			    background: url(../img/inputbg.png);
			    font-size: 14px;
			}
			.kuiButton--primary:disabled, a.kuiButton--primary.kuiButton-isDisabled {
			    background-color: #b6d6e0;
			}
		     .GRsearch {
		     	top:5px;position:absolute;left:5%;float:left;margin-right:30px; height:60px;
		     	}
		     .search-result-tags1 {
			    height: 40px;
			    overflow: hidden;
			}
		</style>
	</head>
	<body onload="load()">
		<div >
			<div class="header1">
				<a href="/"> <img class="GRsearch" src="static/img/365sec.jpg" > </a>
				<div class="inputArea">
					<select class="index_select" id="index_select">
						{% ifequal s_type 'ipv4' %}
						    <option>ipv4</option>
						    <option>websites</option>
						{% endifequal %}
						{% ifequal s_type 'websites' %}
						    <option>websites</option>
						    <option>ipv4</option>						    
						{% endifequal %}
					</select>
					<input type="text" class="searchInput" id="search_content" value="{{ search_content }}"/>
					<input type="button" class="searchButton" value="搜索" onclick="add_search()"/>
				</div>
				<div class="filter">
					<div id="filter_content" class="content">
						<li class="add_filter">
							<a href="javascript:new_filter()">
								新增筛选
							</a>
						</li>
						{% for filter_dict in filter_list %}
						   {% ifnotequal filter_dict '' %}
						      <span id="filter_{{ filter_dict.number }}" class="search-result-label">{{ filter_dict.filter }}
						      	<button>
						      		<img onclick="javascript:remove_filter('filter_{{ filter_dict.number }}')" class="search-result-close" src="/static/media/close.f251f98e.svg" alt="close">
						      	</button>
						      </span>
						   {% endifnotequal %}
						{% endfor %}
					</div>
				</div>
				<div class="filter_editor" id="filter_editor" style="display: none">
					<div class="filter_detail">
						<div class="kuiModalHeader">
							<div class="kuiModalHeader__title">
						       <span >Add</span>
						        filter
						    </div>
						    <button class="kuiModalHeaderCloseButton kuiIcon fa-times" onclick="javascript:filter_edit(1)" aria-label="Close filter popover">
						    </button>
						</div>
						<div class="kuiModalBody">
							<div class="kuiVerticalRhythm">
							    <select id="filter_select">
						    			<option>filter</option>
						    			<option>range</option>
						    			<option>time</option>
							    </select>
							</div>
							<div class="kuiVerticalRhythm" id="filter_filter" style="display: ">
								<div class="kuiVerticalRhythmSmall filterEditor__labelBar">
							        <label class="kuiLabel">
							          Filter
							        </label>
							    </div>
							    <div class="kuiFieldGroup kuiVerticalRhythmSmall kuiFieldGroup--alignTop" ng-show="!filterEditor.showQueryDslEditor()">
							    	<div class="kuiFieldGroupSection">
							    		<select id="filter_field_select">
							    			<option>全文</option>
							    			<option>ip</option>
							    			<option>城市</option>
							    			<option>省份</option>
							    			<option>国家/地区</option>
							    		</select>	
							    	</div>	
							    	<div class="kuiFieldGroupSection">
							    		<select id="filter_way_select">
							    			<option>等于</option>
							    			<option>不等于</option>
							    			<option>包含于</option>
							    			<option>不包含于</option>
							    		</select>	
							    	</div>	
							    	<div id="filter_value1" class="kuiFieldGroupSection kuiFieldGroupSection--wide filterEditor__wideField">
							    		<input id="filter_value" class="ui-select-search input-xs ng-pristine ng-valid ng-touched" placeholder="Values..." style="width: 316px;">
							    	</div>	
							    </div>
							</div>	
							<div class="kuiVerticalRhythm" id="range_filter" style="display: none">
								<div class="kuiVerticalRhythmSmall filterEditor__labelBar">
							        <label class="kuiLabel">
							          Range
							        </label>
							    </div>
							    <div class="kuiFieldGroup kuiVerticalRhythmSmall kuiFieldGroup--alignTop" ng-show="!filterEditor.showQueryDslEditor()">
							    	<div class="kuiFieldGroupSection">
							    		<select id="range_field_select">
							    			<option>level</option>
							    			<option>risk</option>
							    		</select>	
							    	</div>	
							    	<div class="kuiFieldGroupSection">
							    		<select id="range_way_select">
							    			<option>包含于</option>
							    			<option>不包含于</option>
							    		</select>	
							    	</div>	
							    	<div id="range_value" class="kuiFieldGroupSection kuiFieldGroupSection--wide filterEditor__wideField">
							    		<input id="from_value" class="ui-select-search input-xs ng-pristine ng-valid ng-touched" placeholder="Values..." style="width: 150px;">
							    	    <span> - </span>
							    	    <input id="to_value" class="ui-select-search input-xs ng-pristine ng-valid ng-touched" placeholder="Values..." style="width: 150px;">
							    	</div>	
							    </div>
							</div>	
							<div class="kuiVerticalRhythm" id="time_filter" style="display: none">
								<div class="kuiVerticalRhythmSmall filterEditor__labelBar">
							        <label class="kuiLabel">
							          time
							        </label>
							    </div>
							    <div class="kuiFieldGroup kuiVerticalRhythmSmall kuiFieldGroup--alignTop" ng-show="!filterEditor.showQueryDslEditor()">
							    	<div class="kuiFieldGroupSection">
							    		<select id="time_field_select">
							    			<option>updated_at</option>
							    		</select>	
							    	</div>	
							    	<div class="kuiFieldGroupSection">
							    		<select id="time_way_select">
							    			<option>包含于</option>
							    			<option>不包含于</option>
							    		</select>	
							    	</div>	
							    	<div class="kuiFieldGroupSection kuiFieldGroupSection--wide filterEditor__wideField">
							            <input type="datetime-local" step="1" id="from_time" value="{{ from_time}}"/>
							            <span> - </span>
							            <input type="datetime-local" step="1" id="to_time" value="{{ to_time}}"/>
							    	</div>	
							    </div>
							</div>	
						</div>	
					    <div class="kuiModalFooter kuiBar">
						    <div class="kuiBarSection ng-hide" ng-hide="filterEditor.filter.meta.isNew">
						      <button class="kuiButton kuiButton--danger" onclick="filter_edit(2)" aria-label="Delete filter">
						        <span class="kuiIcon fa-trash" aria-hidden="true"></span>
						      </button>
						    </div>
						
						    <div class="kuiBarSection">
						      <button class="kuiButton kuiButton--basic" onclick="filter_edit(1)">
						        Cancel
						      </button>
						      <li id="save_filter" >
						      <button class="kuiButton kuiButton--primary"  onclick="add_filter('filter')">
						        Save
						      </button>
						      </li>
						    </div>
						  </div>
					</div>
				</div>
			</div>
			<div id= "filter_list" style="display: none">{{ filter }}</div>
			<div id="bd" class="content-width main-content">
				<div class="search-result-content clearfix">
					<div class="search-result-left" id="sideBar">
						<div class="search-result-map">
							<button class="search-result-p">
								<img class="search-result-map-icon" src="{% static 'img/icon_in.daf921f2.svg' %}" alt="icon">
							</button>
							<button class="search-result-m">
								<img class="search-result-map-icon" src="{% static 'img/icon_de.c8449fb2.svg' %}" alt="icon">
							</button>
							<div id="worldmap" style="width: 100%;height: 100%;"></div>
						</div>
						<div id="sideBarcontent"></div>
					</div>
					<div class="search-result-right">
						<p class="search-result-type" id="content_select">
							<a id="result_selected" class="active" href="javascript:select({{ current_page }})">搜索结果</a>
							<a id="report_selected" class="" href="javascript:report()" >报表展示</a>
						</p>
						<div id="country_map" style="width:600px;height:400px;display: none"></div>
						<div id="china_map" style="width:600px;height:400px;display: none"></div>
						<div id="country_form" style="width:600px;height:400px;display: none"></div>
						<div id="province_form" style="width:600px;height:400px;display: none"></div>
						<div id="city_form" style="width:600px;height:400px;display: none"></div>
						<div class="search-result-list" id="search-result-list" style="display: ">
							<p class="search-result-summary" id="result_total" style="display: inline">
								&nbsp;{{ total_nums }}&nbsp;条结果(用时<span
								class="time">{{ time_took }}</span>秒)，共约<span
								class="totalPage">{{ page_nums }}</span>页</span>
							</p>
							<div id="result_list" style="display: ">
								{% for hit in all_hits %}
								<div class="search-result-item clearfix">
									<h3>
										{% ifnotequal hit.protocol 'http' %}
										<a class="search-result-item-title" href="http://{{ hit.ip }}" target="_blank" rel="noopener noreferrer"> 
										{% endifnotequal %}
										{% ifequal hit.protocol 'http' %}
										<a class="search-result-item-title" href="http://{{ hit.ip }}:{{ hit.port }}" target="_blank" rel="noopener noreferrer"> 
										{% endifequal %}
										<i class="fa fa-external-link"> </i> 
										</a><a class="search-result-item-title" href="/host?q={{ hit.id }}"> {{ hit.ip }} </a>
									</h3>
									<div class="search-result-item-info">
										{% for protocol in hit.protocols %}
										<p class="search-result-tags1">
											<button onclick="javascript:filter_search('端口协议','{{ protocol }}')" type="button" class="ant-btn ant-btn-primary">
												<span> {{ protocol }} </span>
											</button>
										</p>
										{% endfor %}
										<p>
											<span class=""></span>
											<span class="search-result-location"><span class="flag flag-{{ hit.country_code |lower }}"></span>{{ hit.country }},{{ hit.province }}</span>
										</p>
										<p class="search-result-icon-time">
											<img src="{% static 'img/time.8ad35182.svg' %}" alt="time" />
											{{ hit.update_time}}
										</p>
									</div>
									<pre>{{ hit.data }}</pre>
								</div>
								{% endfor %}

								<!-- 分页 -->

								<div class="search-result-pagination clearfix" id="page_list" style="display: ">
									<ul class="ant-pagination" unselectable="unselectable">
										{% ifequal current_page 1 %}
										<li title="上一页" tabindex="0" class="ant-pagination-disabled ant-pagination-prev" aria-disabled="true">
											<a></a>
										</li>
										{% endifequal %}
										{% ifnotequal current_page 1 %}
										<li title="上一页" tabindex="0" class="ant-pagination-prev" aria-disabled="false">
											<a href="javascript:select({{ last_page }})"></a>
										</li>
										{% endifnotequal %}
										{% for p in page_list %}
										{% if p %}
										{% ifequal page p %}
										<a style="color:#023054;border-color:#8EB2D2;background:#B8DFFB;">{{ p }}</a>
										{% else %}
										{% ifequal p current_page%}
										<li class="ant-pagination-item ant-pagination-item-active" tabindex="0">
											<a>{{ current_page }}</a>
										</li>
										{% endifequal %}
										{% ifnotequal p current_page  %}
										<li onclick="javascript:document.getElementById('{{ p }}').click();" class="ant-pagination-item" tabindex="0">
											<a id="{{ p }}"  href="javascript:select({{ p }})">{{ p }}</a>
										</li>
										{% endifnotequal %}
										{% endifequal %}
										{% endif %}
										{% endfor %}
										{% ifnotequal page page_nums %}
										<li title="下一页" onclick="javascript:document.getElementById('{{ next_page }}').click();" tabindex="0" class=" ant-pagination-next" aria-disabled="false">
											<a href="javascript:select({{ next_page }})"></a>
										</li>
										{% endifnotequal %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div><!-- End of main -->
			</div><!--End of bd-->
		</div>
	</body>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/global.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/pagination.js' %}"></script>
	<script type="text/javascript">
	     $(document).ready(function(){
	     	$('#filter_select').change(function(){
	     		var p1=$(this).children('option:selected').val();
	     		var html = "<button class=\"kuiButton kuiButton--primary\"  onclick=\"add_filter('"+p1+"')\">Save</button>";
	     		if (p1 == 'filter'){
	     			document.getElementById('save_filter').innerHTML = html;
	     			document.getElementById('filter_filter').style.display = '';
	     			document.getElementById('range_filter').style.display = 'none';
	     			document.getElementById('time_filter').style.display = 'none';
	     		}else {
	     			if (p1 == 'range'){
	     				document.getElementById('save_filter').innerHTML = html;
	     				document.getElementById('range_filter').style.display = '';
	     			    document.getElementById('filter_filter').style.display = 'none';
	     			    document.getElementById('time_filter').style.display = 'none';
	     			}else {
	     				document.getElementById('save_filter').innerHTML = html;
	     				document.getElementById('time_filter').style.display = '';
	     			    document.getElementById('filter_filter').style.display = 'none';
	     			    document.getElementById('range_filter').style.display = 'none';
	     			}
	     		}
	     	});
	     });
	</script>
	<script>
	    var search_url = "{% url 'scan' %}";
		function add_search() {
			var index_obj = document.getElementById("index_select");
		    var s_type = index_obj.options[index_obj.selectedIndex].value;
			var val = $(".searchInput").val();
			var filter = document.getElementById("filter_list").innerText;
			filter_list = eval("(" + filter + ")");
			length = filter_list.length;
			if (length == 0){
				window.location.href = encodeURI(search_url + '?q=' + val + "&s_type=" + s_type);
			}else{
				var num = 0;
				for (var i=0; i < length; i++) {
				  if (filter_list[i]==""){
				  	num += 1;
				  }
				};
				if (num == length){
					window.location.href = encodeURI(search_url + '?q=' + val + "&s_type=" + s_type);
				}else {
			    window.location.href = encodeURI(search_url + '?q=' + val + "&s_type=" + s_type + "&filter=" +filter);
			   }
			}
		}
		
		function filter_search(field,value){
			var index_obj = document.getElementById("index_select");
		    var s_type = index_obj.options[index_obj.selectedIndex].value;
			var val = $(".searchInput").val();
			var filter = document.getElementById("filter_list").innerText;
			filter_list = eval("(" + filter + ")");
			number = filter_list.length + 1;
			filter = filter.substr(0,filter.length-1);
			filter_content = "\"+"+field+":"+value+"\"";
			if (number>1){
				var filter1 = ",{\"way\":\"filter\",\"field\": \""+field+"\",\"number\":"+number+",\"filter\":"+filter_content+",\"field_way\": \"equal\",\"value\":\""+value+"\"}]";
			}else{
				var filter1 = "{\"way\":\"filter\",\"field\": \""+field+"\",\"number\":"+number+",\"filter\":"+filter_content+",\"field_way\": \"equal\",\"value\":\""+value+"\"}]";
			}
			filter += filter1;
			window.location.href = encodeURI(search_url + '?q=' + val + "&s_type=" + s_type + "&filter=" +filter);
		}


		$('.searchInput').keyup(function(e) {
			if (e.keyCode == 13) {//模拟点击搜索按钮，触发上面的 Click 事件
				add_search();
			}
		});
	</script>
	<script>
		function load() {
			var aggs_search_content = document.getElementById("search_content").value;
			var filter = document.getElementById("filter_list").innerText;
			if (filter != "[]"){
				var aggs_url = "/ajax_submit?q={{search_content}}&filter="+filter;
			}else {
				var aggs_url = "/ajax_submit?q={{search_content}}";
			}
			$.ajax({
				url : aggs_url,
				type : 'GET',
				success : function(result) {
					var json_result = JSON.parse(result);
					var country_list = json_result.country_list;
					var map_list = json_result.map_list;
					var province_list = json_result.province_list;
					var city_list = json_result.city_list;
					var protocol_list = json_result.protocol_list;
					var max_count = json_result.max;
					var code_list = json_result.code_list;
					$.get('static/json/world.json', function(wjson) {
						echarts.registerMap('GRworld', wjson);
						var myChart = echarts.init(document.getElementById('worldmap'));
						option = {
							backgroundColor : '#fff',
							tooltip : {
								trigger : 'item',
								formatter : '{b}:{c}'
							},
							visualMap : {
								show : !1,
								min : 0,
								max : max_count,
								realtime : !1,
								calculable : !0,
								inRange : {
									color : ["#edf4fc", "#267ce0"]
								}
							},

							series : [{
								name : '世界地图',
								coordinateSystem : 'geo',
								type : 'map',
								map : 'GRworld',
								roam : true,
								zoom : 1.0,
								selectedMode : 'single',
								scaleLimit : {
									min : 1
								},
								label : {
									emphasis : {
										show : !1
									}
								},
								itemStyle : {
									normal : {
										areaColor : "#fff",
										borderWidth : .1
									}
								},
								data : code_list
							}]
						};
						myChart.setOption(option);
					});
					var htmldata = "<div class=\"search-result-bar-list\" style=\"display: block\"><p class=\"search-result-bar-title\">国家/地区</p>";
					var country_data = "";
					if (country_list) {
						for (var i = 0; i < country_list.length; i++) {
							var country_detail = "<p><span onclick=\"javascript:filter_search('国家/地区','"+country_list[i].country_name+"')\" class=\"search-result-option\">";
							country_detail += country_list[i].name + "</span><span class=\"search-result-bar\" style=\"width: "+country_list[i].percent+"%;\">";
							country_detail += country_list[i].value + "</span></p>";
							country_data += country_detail;
						}
					}
					htmldata += country_data + "</div>";
					var province_data = "<div class=\"search-result-bar-list\"><p class=\"search-result-bar-title\">省份/区域</p>";
					if (province_list) {
						for (var i = 0; i < province_list.length; i++) {
							var province_detail = "<p><span onclick=\"javascript:filter_search('省份','"+province_list[i].province_name+"')\" class=\"search-result-option\">";
							province_detail += province_list[i].name + "</span><span class=\"search-result-bar\" style=\"width: "+province_list[i].percent+"%;\">";
							province_detail += province_list[i].count + "</span></p>";
							province_data += province_detail;
						}
					}
					htmldata += province_data + "</div>";
					var city_data = "<div class=\"search-result-bar-list\"><p class=\"search-result-bar-title\">城市</p>";
					if (city_list) {
						for (var i = 0; i < city_list.length; i++) {
							var city_detail = "<p><span onclick=\"javascript:filter_search('城市','"+city_list[i].city_name+"')\" class=\"search-result-option\">";
							city_detail += city_list[i].city_name + "</span><span class=\"search-result-bar\" style=\"width: "+city_list[i].percent+"%;\">";
							city_detail += city_list[i].count + "</span></p>";
							city_data += city_detail;
						}
					}
					htmldata += city_data + "</div>";
					var protocol_data = "<div class=\"search-result-bar-list\"><p class=\"search-result-bar-title\">端口协议</p>";
					if (protocol_list) {
						for (var i = 0; i < protocol_list.length; i++) {
							var protocol_detail = "<p><span onclick=\"javascript:filter_search('端口协议','"+protocol_list[i].protocol_name+"')\" class=\"search-result-option\">";
							protocol_detail += protocol_list[i].protocol_name + "</span><span class=\"search-result-bar\" style=\"width: "+protocol_list[i].percent+"%;\">";
							protocol_detail += protocol_list[i].count + "</span></p>";
							protocol_data += protocol_detail;
						}
					}
					htmldata += protocol_data + "</div>";
					document.getElementById("sideBarcontent").innerHTML = htmldata;
				},
				error : function(data) {
				}
			});
		}
	</script>
	<script>
		function select(a) {
			result_selected = document.getElementById("result_selected");
			result_selected.setAttribute("class","active");
			report_selected = document.getElementById("report_selected");
			report_selected.setAttribute("class","");
			document.getElementById("country_map").style.display = "none";
			document.getElementById("country_form").style.display = "none";
			document.getElementById("province_form").style.display = "none";
			document.getElementById("china_map").style.display = "none";
			document.getElementById("city_form").style.display = "none";
			document.getElementById("search-result-list").style.display = "";
			var filter = document.getElementById("filter_list").innerText;
			if (filter != "[]"){
				var select_url = "/ajax_select?q={{search_content}}&page=" + a + "&filter="+filter;
			}else {
				var select_url = "/ajax_select?q={{search_content}}&page=" + a;
			}
			$.ajax({
				url : select_url,
				type : 'GET',
				success : function(result) {
					var json_result = JSON.parse(result);
					var result_list_data = "";
					var hits = json_result.all_hits;
					var time_took = json_result.time_took;
					var total_nums = json_result.total_nums;
					var page_nums = json_result.page_nums;
					page_last = json_result.last_page;
					page_next = json_result.next_page;
					page_current = json_result.current_page;
					page_list = json_result.page_list;
					var result_list_data = "<p class=\"search-result-summary\" id=\"result_total\" style=\"display: inline\">&nbsp;";
					result_list_data += total_nums + "&nbsp;条结果(用时<span class=\"time\">" + time_took + "</span>秒)，共约<span class=\"totalPage\">" + page_nums + "</span>页</p>";
					result_list_data += "<div id=\"result_list\" style=\"display: \">";
					if (hits) {
						for (var i = 0; i < hits.length; i++) {
							var record = "<div class=\"search-result-item clearfix\"><h3><a class=\"search-result-item-title\" href=\"http://";
							if (hits[i].protocol == "http"){
								record += hits[i].ip +":"+hits[i].port+ "\" target=\"_blank\" rel=\"noopener noreferrer\"><i class=\"fa fa-external-link\"></i></a>";
							}else{
							record += hits[i].ip + "\" target=\"_blank\" rel=\"noopener noreferrer\"><i class=\"fa fa-external-link\"></i></a>";
							}
							record += "<a class=\"search-result-item-title\" href=\"/host?q=" + hits[i].id + "\">" + hits[i].ip + "</a></h3>";
							record += "<div class=\"search-result-item-info\">";
							for (var j = 0; j < hits[i].protocols.length; j++) {
								var protocolHtml = "<p class=\"search-result-tags\">";
								protocolHtml += "<a href=\"scan?q=\"><button type=\"button\" class=\"ant-btn ant-btn-primary\"><span>" + hits[i].protocols[j] + "</span></button></a></p>";
								record += protocolHtml;
							}
							record += "<p><span class=\"search-result-location\"><span class=\"flag flag-" + (hits[i].country_code).toLowerCase() + "\"></span>" + hits[i].country + "," + hits[i].province + "</span></p>";
							record += "<p class=\"search-result-icon-time\"><img src=\"static/img/time.8ad35182.svg\" alt=\"time\" />" + hits[i].update_time + "</p></div><pre><xmp>" + hits[i].data +"</xmp></pre></div>";
							result_list_data += record;
						}
					}
					result_list_data += "<div class=\"search-result-pagination clearfix\" id=\"page_list\" style=\"display: \"><ul class=\"ant-pagination\" unselectable=\"unselectable\">";
					if (page_current != 1) {
						result_list_data += "<li title=\"上一页\" tabindex=\"0\" onclick=\"javascript:document.getElementById('" + page_last + "').click();\" class=\"ant-pagination-prev\" aria-disabled=\"false\"><a href=\"javascript:select('" + page_last + "')\"></a></li>";
					} else {
						result_list_data += "<li title=\"上一页\" tabindex=\"0\" class=\"ant-pagination-disabled ant-pagination-prev\" aria-disabled=\"true\"><a></a></li>";
					}
					if (page_list) {
						for (var j = 0; j < page_list.length; j++) {
							var page_detail = "";
							if (page_list[j] == page_current) {
								page_detail += "<li class=\"ant-pagination-item ant-pagination-item-active\" tabindex=\"0\"><a>" + page_current + "</a></li>";
							} else {
								page_detail += "<li onclick=\"javascript:document.getElementById('" + page_list[j] + "').click();\" class=\"ant-pagination-item\" tabindex=\"0\" >";
								page_detail += "<a id=\"" + page_list[j] + "\" href=\"javascript:select(" + page_list[j] + ")\">" + page_list[j] + "</a></li>";
							}
							result_list_data += page_detail;
						}
					}
					if (page_current != page_nums) {
						result_list_data += "<li title=\"下一页\" onclick=\"javascript:document.getElementById('" + page_next + "').click();\" class=\" ant-pagination-next\" aria-disabled=\"false\"><a href=\"javascript:select(" + page_next + ")\"></a></li>";
					}
					result_list_data += "</ul></div></div>";
					document.getElementById("search-result-list").innerHTML = result_list_data;
				},
				error : function(data) {
				}
			});
		}
	</script>
	<script>
		function report() {
			result_selected = document.getElementById("result_selected");
			result_selected.setAttribute("class","");
			report_selected = document.getElementById("report_selected");
			report_selected.setAttribute("class","active");
			document.getElementById("search-result-list").style.display = "none";
			document.getElementById("country_map").style.display = "";
			document.getElementById("china_map").style.display = "";
			document.getElementById("country_form").style.display = "";
			document.getElementById("province_form").style.display = "";
			document.getElementById("city_form").style.display = "";
			var aggs_search_content = document.getElementById("search_content").value;
			var filter = document.getElementById("filter_list").innerText;
			if (filter != "[]"){
				var aggs_url = "/ipv4_dashboard?q={{search_content}}&filter="+filter;
			}else {
				var aggs_url = "/ipv4_dashboard?q={{search_content}}";
			}
			$.ajax({
				url : aggs_url,
				type : 'GET',
				success : function(result) {
					var myChartTwo = echarts.init(document.getElementById('country_form'));
					var myChartThree = echarts.init(document.getElementById('province_form'));
					var myChartFour = echarts.init(document.getElementById('city_form'));
					var myChartFive = echarts.init(document.getElementById('china_map'));
					var json_result = JSON.parse(result);
					var country_list = json_result.country_list;
					var code_list = json_result.code_list;
					var province_list = json_result.province_list;
					var china_province_list = json_result.china_province_list;
					var city_list = json_result.city_list;
					var max_count = json_result.max;
					$.get('static/json/world.json', function(wjson) {
						echarts.registerMap('GRworld', wjson);
						var myChart = echarts.init(document.getElementById('country_map'));
						option = {
							backgroundColor : '#fff',
							title : {
								text : '主机分布',
								subtext : '世界',
								x : 'center'
							},
							tooltip : {
								trigger : 'item',
								formatter : '{b}:{c}'
							},
							visualMap : {
								show : !1,
								min : 0,
								max : max_count,
								realtime : !1,
								calculable : !0,
								inRange : {
									color : ["#edf4fc", "#267ce0"]
								}
							},

							series : [{
								name : '世界地图',
								coordinateSystem : 'geo',
								type : 'map',
								map : 'GRworld',
								roam : true,
								zoom : 1.0,
								selectedMode : 'single',
								scaleLimit : {
									min : 1
								},
								label : {
									emphasis : {
										show : !1
									}
								},
								itemStyle : {
									normal : {
										areaColor : "#fff",
										borderWidth : .1
									}
								},
								data : code_list
							}]
						};
						myChart.setOption(option);
					});
					
					if(!china_province_list[0]){}
					else{
					myChartFiveOption = {
						title:{
							text:'主机分布',
							subtext:'中国',
							x:'center'
						},
						tooltip:{
							trigger:'item',
							formatter : '{b}:{c}'
						},
						dataRange: {
                             min: 0,
                             max: china_province_list[0].value,
                             x: 'left',
                             y: 'bottom',
                             text:['高','低'],           // 文本，默认为数值文本
                             show : false
                         },
                         series:[
                           {
                           	name:'主机分布',
                           	type:'map',
                           	mapType:'china',
                           	roam:false,
                           	itemStyle:{
                           		normal:{label:{show:true}},
                           		emphasis:{label:{show:true}}
                           	},
                           	data:china_province_list
                           }
                         ]
					};
					myChartFive.setOption(myChartFiveOption);
					}
					var country_name_list = [];
					var country_value_list = [];
					if (country_list) {
						if (country_list.length<=10){
						for (var i = 0; i < country_list.length; i++) {
							country_name_list.push(country_list[i].name);
							country_value_list.push(country_list[i].value);
						}
						}
						else {
							for (var i = 0; i < 10; i++) {
							country_name_list.push(country_list[i].name);
							country_value_list.push(country_list[i].value);
						}
					}
					}
					myChartTwoOption = {
						title : {
                           text: '全球主机国家/地区分布',
                           x:'center'
                              },
						color : ['#3398DB'],
						tooltip : {
							trigger : 'axis',
							axisPointer : {// 坐标轴指示器，坐标轴触发有效
								type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
							}
						},
						grid : {
							left : '3%',
							right : '4%',
							bottom : '3%',
							containLabel : true
						},
						xAxis : [{
							type : 'category',
							data : country_name_list,
							axisTick : {
								alignWithLabel : true
							}
						}],
						yAxis : [{
							type : 'value'
						}],
						series : [{
							name : '主机数',
							type : 'bar',
							barWidth : '60%',
							data : country_value_list
						}]
					};
					myChartTwo.setOption(myChartTwoOption);
					var province_name_list = [];
					var province_value_list = [];
					if (province_list) {
						if (province_list.length<=10){
						for (var i = 0; i < province_list.length; i++) {
							province_name_list.push(province_list[i].name);
							province_value_list.push(province_list[i].value);
						}
						}
						else {
							for (var i = 0; i < 10; i++) {
							province_name_list.push(province_list[i].name);
							province_value_list.push(province_list[i].value);
						}
					}}
					myChartThreeOption = {
						title : {
                           text: '全球主机省份分布',
                           x:'center'
                              },
						color : ['#3398DB'],
						tooltip : {
							trigger : 'axis',
							axisPointer : {// 坐标轴指示器，坐标轴触发有效
								type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
							}
						},
						grid : {
							left : '3%',
							right : '4%',
							bottom : '3%',
							containLabel : true
						},
						xAxis : [{
							type : 'category',
							data : province_name_list,
							axisTick : {
								alignWithLabel : true
							}
						}],
						yAxis : [{
							type : 'value'
						}],
						series : [{
							name : '主机数',
							type : 'bar',
							barWidth : '60%',
							data : province_value_list
						}]
					};
					myChartThree.setOption(myChartThreeOption);
					var city_name_list = [];
					var city_value_list = [];
					if (city_list) {
						for (var i = 0; i < city_list.length; i++) {
							city_name_list.push(city_list[i].name);
							city_value_list.push(city_list[i].value);
						}
					}
					myChartFourOption = {
						title : {
                           text: '主机城市分布',
                           x:'center'
                              },
						color : ['#3398DB'],
						tooltip : {
							trigger : 'axis',
							axisPointer : {// 坐标轴指示器，坐标轴触发有效
								type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
							}
						},
						grid : {
							left : '3%',
							right : '4%',
							bottom : '3%',
							containLabel : true
						},
						xAxis : [{
							type : 'category',
							data : city_name_list,
							axisTick : {
								alignWithLabel : true
							}
						}],
						yAxis : [{
							type : 'value'
						}],
						series : [{
							name : '主机数',
							type : 'bar',
							barWidth : '60%',
							data : city_value_list
						}]
					};
					myChartFour.setOption(myChartFourOption);
				},
				error : function(data) {
				}
			});
		}
	</script>
	<script>
		function filter_edit(way){
			document.getElementById("filter_select").innerHTML = "<option>filter</option><option>range</option><option>time</option>";
			document.getElementById("filter_filter").style.display = "";
			document.getElementById("filter_field_select").innerHTML = "<option>全文</option><option>ip</option><option>城市</option><option>省份</option><option>国家/地区</option>";
			document.getElementById("filter_way_select").innerHTML = "<option>等于</option><option>不等于</option><option>包含于</option><option>不包含于</option>";
			document.getElementById("filter_value1").innerHTML = "<input id=\"filter_value\" class=\"ui-select-search input-xs ng-pristine ng-valid ng-touched\" placeholder=\"Values...\" style=\"width: 316px;\">";
			document.getElementById("range_filter").style.display = "none";
			document.getElementById("range_field_select").innerHTML = "<option>level</option><option>risk</option>";
			document.getElementById("range_way_select").innerHTML = "<option>包含于</option><option>不包含于</option>";
			document.getElementById("range_value").innerHTML = "<input id=\"from_value\" class=\"ui-select-search input-xs ng-pristine ng-valid ng-touched\" placeholder=\"Values...\" style=\"width: 150px;\"><span> - </span><input id=\"to_value\" class=\"ui-select-search input-xs ng-pristine ng-valid ng-touched\" placeholder=\"Values...\" style=\"width: 150px;\">";
			document.getElementById("time_filter").style.display = "none";
			document.getElementById("time_field_select").innerHTML = "<option>updated_at</option>";
			document.getElementById("time_way_select").innerHTML = "<option>包含于</option><option>不包含于</option>";
			document.getElementById("from_time").value = "";
			document.getElementById("to_time").value = "";
			var status = document.getElementById("filter_editor").style.display;
			if(way == 1){
				if(status == "none"){
					document.getElementById("filter_editor").style.display = "";
				}else {
					document.getElementById("filter_editor").style.display = "none";
				}
			}
		}
		
		function new_filter(){
			document.getElementById("filter_editor").style.display = "";
		}
		function add_filter(way){
			var filter_list = document.getElementById("filter_list").innerText;
			filter_list = eval("(" + filter_list + ")");
			filter_number = filter_list.length + 1;
			var filter_dict = {};
			filter_dict["number"] = filter_number;
			if (way == 'filter'){
				filter_dict["way"] = "filter";
				var filter_content = document.getElementById("filter_content");
				var field_obj = document.getElementById("filter_field_select");
				var field = field_obj.options[field_obj.selectedIndex].value;//选中值
				var way_obj = document.getElementById("filter_way_select");
				var way1 = way_obj.options[way_obj.selectedIndex].value;//选中值
				var value = document.getElementById("filter_value").value;//选中值
				filter_dict["field"] = field;
				if (way1 == "等于"){
					filter_dict["field_way"] = "equal";
					filter_dict["value"] = value;
					filter_dict["way"] = "filter";
					var filter = "+" + field + ":" + value;
					filter_dict["filter"] = filter;
					filter_html = "<span id=\"filter_"+filter_number+"\" class=\"search-result-label\">" + filter +"<button><img onclick=\"javascript:remove_filter('filter_"+filter_number+"')\" class=\"search-result-close\" src=\"/static/media/close.f251f98e.svg\" alt=\"close\"></button></span>";
					filter_content.innerHTML += filter_html;
				}else{
					if (way1 == "不等于"){
						filter_dict["field_way"] = "not_equal";
					    filter_dict["value"] = value;
						var filter = "-" + field + ":" + value;
						filter_dict["filter"] = filter;
					    filter_html = "<span id=\"filter_"+filter_number+"\" class=\"search-result-label\">" + filter +"<button><img onclick=\"javascript:remove_filter('filter_"+filter_number+"')\" class=\"search-result-close\" src=\"/static/media/close.f251f98e.svg\" alt=\"close\"></button></span>";
					    filter_content.innerHTML += filter_html;
					}else {
						value = value.split(";");
						if (way1 == "包含于"){
							var filter = "+" + field + ":" + value;
							filter_dict["field_way"] = "in";
					        filter_dict["value"] = value;
					        filter_dict["filter"] = filter;
						}else {
							var filter = "-" + field + ":" + value;
							filter_dict["field_way"] = "not_in";
					        filter_dict["value"] = value;
					        filter_dict["filter"] = filter;
						}
					    filter_html = "<span id=\"filter_"+filter_number+"\" class=\"search-result-label\">" + filter +"<button><img onclick=\"javascript:remove_filter('filter_"+filter_number+"')\" class=\"search-result-close\" src=\"/static/media/close.f251f98e.svg\" alt=\"close\"></button></span>";
					    filter_content.innerHTML += filter_html;
					}
				}
			}else {
				if (way == 'range'){
					var filter_content = document.getElementById("filter_content");
				    var field_obj = document.getElementById("range_field_select");
				    var field = field_obj.options[field_obj.selectedIndex].value;//选中值
				    var way_obj = document.getElementById("range_way_select");
				    var way1 = way_obj.options[way_obj.selectedIndex].value;
				    var from_value = document.getElementById("from_value").value;
				    var to_value = document.getElementById("to_value").value;
				    filter_dict["way"] = "range";
				    filter_dict["field"] = field;
				    filter_dict["value"] = [from_value,to_value];
				    if (way1 == "包含于"){
				    	var filter = "+" + field + ":" + from_value + " to " + to_value;
				    	filter_dict["field_way"] = "in";
				    	filter_dict["filter"] = filter;
				    }else {
				    	var filter = "-" + field + ":" + from_value + " to " + to_value;
				    	filter_dict["field_way"] = "not_in";
				    	filter_dict["filter"] = filter;
				    }
					filter_html = "<span id=\"filter_"+filter_number+"\" class=\"search-result-label\">" + filter +"<button><img onclick=\"javascript:remove_filter('filter_"+filter_number+"')\" class=\"search-result-close\" src=\"/static/media/close.f251f98e.svg\" alt=\"close\"></button></span>";
					filter_content.innerHTML += filter_html;
				}else {
					var filter_content = document.getElementById("filter_content");
				    var field_obj = document.getElementById("time_field_select");
				    var field = field_obj.options[field_obj.selectedIndex].value;//选中值
				    var way_obj = document.getElementById("time_way_select");
				    var way1 = way_obj.options[way_obj.selectedIndex].value;
				    var from_time = document.getElementById("from_time").value;
				    var to_time = document.getElementById("to_time").value;
				    filter_dict["way"] = "time";
				    filter_dict["field"] = field;
				    filter_dict["value"] = [from_time,to_time];
				    if (way1 == "包含于"){
				    	var filter = "+" + field + ":" + from_time + " to " + to_time;
				    	filter_dict["field_way"] = "in";
				    	filter_dict["filter"] = filter;
				    }else {
				    	var filter = "-" + field + ":" + from_time + " to " + to_time;
				    	filter_dict["field_way"] = "not_in";
				    	filter_dict["filter"] = filter;
				    }
					filter_html = "<span id=\"filter_"+filter_number+"\" class=\"search-result-label\">" + filter +"<button><img onclick=\"javascript:remove_filter('filter_"+filter_number+"')\" class=\"search-result-close\" src=\"/static/media/close.f251f98e.svg\" alt=\"close\"></button></span>";
					filter_content.innerHTML += filter_html; 
				}
			}
			filter_list.push(filter_dict);
			document.getElementById("filter_list").innerText = JSON.stringify(filter_list);
			filter_edit(1);
		}
	</script>
	<script>
		function remove_filter(filter_num){
			var filter = document.getElementById(filter_num);
			filter.parentNode.removeChild(filter);
			filter_num_list = filter_num.split("_");
			number = parseInt(filter_num_list[1])-1;
			var filter_list = document.getElementById("filter_list").innerText;
			filter_list = eval("(" + filter_list + ")");
			filter_list[number] = "";
			document.getElementById("filter_list").innerText = JSON.stringify(filter_list);
			add_search();
		}
	</script>
</html>