<!DOCTYPE html>
<html lang="en">
	{% load staticfiles %}
	<head>
		<meta charset="utf-8">
		<title>漏洞报表</title>
		<script src="{% static 'js/map/echarts.js' %}"></script>
		<script src="{% static 'js/map/china.js' %}"></script>
		<script src="{% static 'js/map/world.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<link href="{% static 'css/main.c73173fb.css' %}" rel="stylesheet">
		<style type="text/css">
			.main .vul_report_map {
				width: 1010px;
				height: 400px;
				position: relative;
				z-index: 1;
			}
			.main .vul_country_count{
				width: 1010px;
				height: 600px;
				position: relative;
				z-index: 1;
			}
			.main {
				width: 1000px;
				top: 100px;
				left: 10%;
				margin: 10px auto;
			}
			.table-list {
				width: 100%;
				background: #001720;
				border: 1px solid #025779;
			}
			ul, menu, dir {
				display: block;
				list-style-type: disc;
				-webkit-margin-before: 1em;
				-webkit-margin-after: 1em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;
				-webkit-padding-start: 40px;
			}
			.pagination {
				display: inline-block;
				padding-left: 0;
				margin: 20px 0;
				border-radius: 4px;
				font-size: 14px;
			}
			.pagination > li {
				display: inline;
			}
			.pagination > li:first-child > a, .pagination > li:first-child > span {
				margin-left: 0px;
				border-bottom-left-radius: 0px;
				border-top-left-radius: 0px;
			}
			.pagination > li > a, .pagination > li > span {
				color: rgb(155, 155, 155);
				background: rgb(68, 68, 68);
				border-width: 1px;
				border-style: solid;
				border-color: rgb(51, 51, 51);
				border-image: initial;
			}
			.odd {
				background-color: #030b0e
			}
			.even {
				background-color: #025779
			}
			a {
				text-decoration: none;
			}
			a:link {
				color: #0af
			}
			td {
				text-align: left;
			}
			th {
				text-align: left;
			}
			body {
				color: rgb(198, 198, 198);
				background: center top no-repeat fixed rgb(19, 19, 19);
			}
			.title {
				text-align: center;
				color: #0af;
			}
			h2 {
				color: #3ed3ff;
			}
		</style>
	</head>
	<body>
		<div>
			<a href="/"><h2>GRsearch</h2></a>
		</div>
		<div class="main">
			<a href="/vul/report?vulnid={{ vulnid }}"><h1 class="title">{% autoescape off %}{{ vul_name }}{% endautoescape %}</h1></a>
			<div id="gaishu" style="display: ">
				<h2>概述</h2>
				<p>
					{% autoescape off %}{{ vul_miaoshu }}{% endautoescape %}
				</p>
			</div>
			<div id="report_map" style="display: ">
				<h2>全球影响</h2>
				<div class="vul_report_map" id="WorldMap"></div>
				<div style="display: none" id="country_list">
					{% autoescape off %}{{ country_list }}{% endautoescape %}
				</div>
				<div style="display: none" id="max_country_count">
					{% autoescape off %}{{ max_country_count }}{% endautoescape %}
				</div>
			</div>
			<div id="report_count" style="display: ">
				<h2>受影响国家/地区</h2>
				<div class="vul_country_count" id="vul_country_count"></div>
				<div style="display: none" id="name_list">
					{% autoescape off %}{{ name_list }}{% endautoescape %}
				</div>
				<div style="display: none" id="count_list">
					{% autoescape off %}{{ count_list }}{% endautoescape %}
				</div>
			</div>
			<div>
				<h2>部分数据展示</h2>
				<div>
					<span style="text-align: left">端口</span>
					<select id="port_select">
						<option>全部</option>
						{% for port in port_name_list %}
						<option>{{ port }}</option>
						{% endfor %}
					</select>
					<span style="text-align: center">国家/地区</span>
					<select id="country_name_select">
						<option>全部</option>
						{% for country_name in country_name_list %}
						<option>{{ country_name }}</option>
						{% endfor %}
					</select>
					<button onclick="javascript:select(1)" style="text-align: right">
						筛选数据
					</button>
				</div>
				<div id="vul_content">
					<table class="table-list">
						<thead>
							<tr>
								<th>IP地址</th>
								<th>端口</th>
								<th>国家/地区</th>
								<th>时间</th>
							</tr>
							<tbody>
								{% for hit in content_list %}
								{% ifequal hit.status 1 %}
								<tr>
									{% endifequal %}
									{% ifequal hit.status 0 %}
								<tr class="odd">
									{% endifequal %}
									<td>{{ hit.ip }}</td>
									<td>{{ hit.port }}</td>
									<td><span class="flag flag-{{ hit.country_code |lower }}"></span><a href="javascript:filter('{{hit.country_name}}')">{{ hit.country_name }}</a><span> {{ hit.city }}</span></td>
									<td>{{ hit.scantime }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</thead>
					</table>
					<ul class="pagination">
						{% ifnotequal current_page 1 %}
						<li>
							<a href="javascript:select({{ last_page }})" class="page">上一页</a>
						</li>
						{% endifnotequal %}
						{% for p in page_list %}
						{% if p %}
						{% ifequal page p %}
						<li>
							<a style="color:#023054;border-color:#8EB2D2;background:#B8DFFB;">{{ p }}</a>
						</li>
						{% else %}
						{% ifequal p current_page%}
						<strong><span>{{ p }}</span></strong>
						{% endifequal %}
						{% ifnotequal p current_page  %}
						<li>
							<a href="javascript:select({{ p }})" class="page">{{ p }}</a>
						</li>
						{% endifnotequal %}
						{% endifequal %}
						{% endif %}
						{% endfor %}
						{% ifnotequal page page_nums %}
						<li>
							<a href="javascript:select({{ next_page }})" class="page">下一页</a>
						</li>
						{% endifnotequal %}
					</ul>
				</div>
			</div>
			<div id="vulnid" style="display: none">{{ vulnid }}</div>
		</div>
	</body>
	<script>
        var WorldMapChart = echarts.init(document.getElementById('WorldMap'));
        var country_list = JSON.parse(document.getElementById('country_list').innerHTML);
        var max_country_count = document.getElementById('max_country_count').innerText;
        WorldMapChartOption = {
            timeline: {
                axisType: 'category',
                orient: 'vertical',
                autoPlay: true,
                inverse: true,
                playInterval: 5000,
                left: null,
                right: -105,
                top: 20,
                bottom: 20,
                width: 46,
                data: ['2016',]
                },
            baseOption: {
                visualMap: {
                    max: max_country_count,
                    calculable: true,
                    inRange: {
                        color: ['#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                                }
                         },
                series: [{
                    type: 'map',
                    map: 'world',
                    roam: true
                    }]
                },
            options: [{
                tooltip: {
                	formatter: '{b} : {c}'
                },
                series: {
                    data: country_list
                        }
                }, ]
                };
        WorldMapChart.setOption(WorldMapChartOption);
	</script>
	<script>
        var country_count_Chart = echarts.init(document.getElementById('vul_country_count'));
        var name_list = JSON.parse(document.getElementById('name_list').innerHTML);
        var count_list = JSON.parse(document.getElementById('count_list').innerHTML);
        var max_country_count = document.getElementById('max_country_count').innerText;
        country_count_Chart_Option = {
                title: {
                    text: '受影响国家/地区',
                    left: 'center',
                    top: 'top',
                },
                tooltip: {
                	trigger: 'axis',
                	axisPointer:{
                		type: null
                	},
                	formatter: '{b} : {c}'
                },
                grid: {
                	left: '3%',
                	right: '4%',
                	top: '10%',
                	height: 550,
                	containLabel: true
                },
                xAxis: [{
                	type: 'value'
                }
                ],
                yAxis: [{
                	type: 'category',
                	inverse: true,
                	axisTick:{
                		show:true
                	},
                	axisLine:{
                		lineStyle:{
                			color: '#0af'
                		}
                	},
                	data: name_list
                }],
                series: [{
                	name: '数目',
                	type: 'bar',
                	barWidth: 15,
                	label:{
                		normal:{
                			show: true,
                			position: 'right'
                		}
                	},
                	data: count_list
                }]
                };
        country_count_Chart.setOption(country_count_Chart_Option);
	</script>
	<script>
		function select(page) {
			var vulnid = document.getElementById("vulnid").innerText;
			var port_select = document.getElementById("port_select");
			var port_index = port_select.selectedIndex;
			var port = port_select.options[port_index].text;
			if (port == "全部") {
				port = "";
			};
			var country_name_select = document.getElementById("country_name_select");
			var country_name_index = country_name_select.selectedIndex;
			var country_name = country_name_select.options[country_name_index].text;
			if (country_name == "全部") {
				country_name = "";
			};
			$.ajax({
				url : "/vul/select?page=" + page + "&port=" + port + "&country_name=" + country_name +"&vulnid=" +vulnid,
				type : 'GET',
				success : function(result) {
					var json_result = JSON.parse(result);
					var page_nums = json_result.page_nums;
					var page_list = json_result.page_list;
					var current_page = json_result.current_page;
					var next_page = json_result.next_page;
					var last_page = json_result.last_page;
					var content_list = json_result.content_list;
					var html = "<table class=\"table-list\"><thead><tr><th>IP地址</th><th>国家/地区</th><th>时间</th></tr><tbody>";
					for (var i = 0; i < content_list.length; i++) {
						var trhtml = "";
						if (content_list[i].status == 1) {
							trhtml += "<tr>";
						} else {
							trhtml += "<tr class=\"odd\">";
						}
						trhtml += "<td>" + content_list[i].ip + "</td><td>"+content_list[i].port+"</td><td><span class=\"flag flag-" + (content_list[i].country_code).toLowerCase() + "\"></span>";
						trhtml += "<a href=\"javascript:filter('" + content_list[i].country_name + "')\">" + content_list[i].country_name + "<a>";
						trhtml += "<span> " + content_list[i].city + "</span></td><td>" + content_list[i].scantime + "</td></tr>";
						html += trhtml;
					}
					html += "</tbody></thead></table><ul class=\"pagination\">";
					if (current_page != 1) {
						html += "<li><a href=\"javascript:select(" + last_page + ")\">上一页</a></li>";
					}
					for (var j = 0; j < page_list.length; j++) {
						var pagehtml = "";
						if (page_list[j] == current_page) {
							pagehtml += "<strong><span>" + page_list[j] + "</span></strong>";
						} else {
							pagehtml += "<li><a href=\"javascript:select(" + page_list[j] + ")\">" + page_list[j] + "</a></li>";
						}
						html += pagehtml;
					}
					if (current_page != page_nums) {
						html += "<li><a href=\"javascript:select(" + next_page + ")\" >下一页</a></li>";
					}
					html += "</ul>";
					document.getElementById("vul_content").innerHTML = html;
					document.getElementById("report_map").style.display = "none";
					document.getElementById("gaishu").style.display = "none";
				},
				error : function(data) {
					alert(data);
				}
			});
		}
	</script>
	<script>
		function filter(country_name) {
			var page = "1";
			var vulnid = document.getElementById("vulnid").innerText;
			var port_select = document.getElementById("port_select");
			var port_index = port_select.selectedIndex;
			var port = port_select.options[port_index].text;
			if (port == "全部") {
				port = "";
			};
			$.ajax({
				url : "/vul/select?page=" + page + "&port=" + port + "&country_name=" + country_name +"&vulnid=" +vulnid,
				type : 'GET',
				success : function(result) {
					var json_result = JSON.parse(result);
					var page_nums = json_result.page_nums;
					var page_list = json_result.page_list;
					var current_page = json_result.current_page;
					var next_page = json_result.next_page;
					var last_page = json_result.last_page;
					var content_list = json_result.content_list;
					var html = "<table class=\"table-list\"><thead><tr><th>IP地址</th><th>国家/地区</th><th>时间</th></tr><tbody>";
					for (var i = 0; i < content_list.length; i++) {
						var trhtml = "";
						if (content_list[i].status == 1) {
							trhtml += "<tr>";
						} else {
							trhtml += "<tr class=\"odd\">";
						}
						trhtml += "<td>" + content_list[i].ip + "</td><td>"+content_list[i].port+"</td><td><span class=\"flag flag-" + (content_list[i].country_code).toLowerCase() + "\"></span>";
						trhtml += "<a href=\"javascript:filter('" + content_list[i].country_name + "')\">" + content_list[i].country_name + "<a>";
						trhtml += "<span> " + content_list[i].city + "</span></td><td>" + content_list[i].scantime + "</td></tr>";
						html += trhtml;
					}
					html += "</tbody></thead></table><ul class=\"pagination\">";
					if (current_page != 1) {
						html += "<li><a href=\"javascript:select(" + last_page + ")\">上一页</a></li>";
					}
					for (var j = 0; j < page_list.length; j++) {
						var pagehtml = "";
						if (page_list[j] == current_page) {
							pagehtml += "<strong><span>" + page_list[j] + "</span></strong>";
						} else {
							pagehtml += "<li><a href=\"javascript:select(" + page_list[j] + ")\">" + page_list[j] + "</a></li>";
						}
						html += pagehtml;
					}
					if (current_page != page_nums) {
						html += "<li><a href=\"javascript:select(" + next_page + ")\" >下一页</a></li>";
					}
					html += "</ul>";
					document.getElementById("vul_content").innerHTML = html;
					document.getElementById("report_map").style.display = "none";
					document.getElementById("gaishu").style.display = "none";
				},
				error : function(data) {
					alert(data);
				}
			});
		}
	</script>
</html>

